@model  Airports.Dev.Exercise.Web.Models.AirportDistanceModel
@{
    ViewBag.Title = "Airports Distance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Airports Distance</h2>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("AirportsDistance", "Home", FormMethod.Post))
        {
        <div class="col-xs-4">
            <span>
                IATA 1:
            </span>
            <input type="text" class="form-control" name="iata1" id="iata1" required/>
        </div>
            <div class="col-xs-4">
                <span>
                    IATA 2:
                </span>
                <input type="text" class="form-control" name="iata2" id="iata2" required />
            </div>
            <div class="col-xs-4">
                <span> </span>
                <input type="submit" class="form-control btn btn-primary" value="Get Distance" />
            </div>
        }        
    </div>
    <div class="col-xs-12 airport-margin">
        <span>@Model.DistanceMessage</span>
    </div>
</div>

